<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mega.mapper.PaymentMapper">

<!--    <select id="paymentResDto" resultType="com.app.mega.dto.response.PaymentResDto" >-->
<!--        INSERT INTO payment SET institution_id = #{admin.id}, amount = #{paymentReqDto.paymentKey}, order_id = #{paymentReqDto.orderId}, amount =  #{paymentReqDto.amount} ,-->
<!--    </select>-->
    <insert id="requestTossPayment0" >
        INSERT INTO payment (institution_id ,payment_key ,amount ,order_id ,current_pay_time, next_pay_time)
        VALUES (#{institutionId}, #{paymentReqDto.paymentKey} ,#{paymentReqDto.amount}, #{paymentReqDto.orderId}, #{currentPayTime}, #{NextPayTime})
    </insert>

    <insert id="requestTossPayment3" >
        INSERT INTO payment (institution_id ,payment_key ,amount ,order_id ,current_pay_time, next_pay_time)
        VALUES (#{institutionId}, #{paymentReqDto.paymentKey} ,#{paymentReqDto.amount}, #{paymentReqDto.orderId}, #{currentPayTime}, #{NextPayTime})
    </insert>

    <insert id="requestTossPayment6" >
        INSERT INTO payment (institution_id ,payment_key ,amount ,order_id ,current_pay_time, next_pay_time)
        VALUES (#{institutionId}, #{paymentReqDto.paymentKey} ,#{paymentReqDto.amount}, #{paymentReqDto.orderId}, #{currentPayTime}, #{NextPayTime})
    </insert>

    <insert id="requestTossPayment12" >
        INSERT INTO payment (institution_id ,payment_key ,amount ,order_id ,current_pay_time, next_pay_time)
        VALUES (#{institutionId}, #{paymentReqDto.paymentKey} ,#{paymentReqDto.amount}, #{paymentReqDto.orderId}, #{currentPayTime}, #{NextPayTime})
    </insert>

    <select id="existsByOrderId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM payment
        WHERE order_id = #{orderId}
    </select>

</mapper>

